@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Ubuntu", sans-serif;
}

.pokemons_bg {
    background-image: url(../assets/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.pokemon_card {
    width: 235px;
    height: 300px;
    transition: all 0.3s ease-in-out;
}
.pokemon_image {
    transition: all 0.3s ease-in-out;
}

.pokemon_card:hover .pokemon_image {
    transform: scale(1.2);
}
